@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); /* font import */

:root {
    --default-background-color: #4f4f4f;
    --default-text-color: #f0f0f0;
    --default-accent-color: #602C4F;
    --default-accent-text-color: #c1c1c1;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--default-background-color);
    color: var(--default-text-color);
}

.accent {
    background-color: var(--default-accent-color);
    color: var(--default-accent-text-color);
}

.hcenter {
    text-align: center;
}